
@{
    ViewBag.Title = "EmployeeDetail";
}

<div class="block-header">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Dashboard</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ul>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="header">
                <h2>Employee Details</h2>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <div class="col-md-6 col-sm-12">
                        <label>Department</label>
                        <div class="form-group">
                            <select id="Department" onchange="DepartmentSelect()" class="form-control show-tick">
                                <option value="0">Select Department</option>
                                @foreach (var item in ViewBag.Type)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <label>Employee</label>
                        <div class="form-group">
                            <select id="Emp" class="form-control show-tick">
                                <option value="0">Select Employee</option>
                                @foreach (var item in ViewBag.User)
                                {
                                    if (item.Text == "Self")
                                    {
                                        <option selected value="@item.Value">@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <br />
                    <div class="col-12">
                        <button onclick="Search()" type="submit" class="btn btn-primary">Generate Report</button>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm("EmployeeDetailReport", "Request", FormMethod.Post, new { target = "_blank" }))
{
    <input type="hidden" id="employeeId" name="EmpId" />
    <input type="hidden" id="DepartmentId" name="DepId" />
    <input type="submit" class="hidden" id="btnSubmit" hidden value="Export" />
}
<script>
    function Search() {
        if ($("#Emp").val() != undefined && $("#Emp").val() != null) {
            $("#employeeId").val($("#Emp").val());
            $("#DepartmentId").val($("#Department").val());
            $("#btnSubmit").click();
        } else
            alert("No data Found");
    }
    function DepartmentSelect() {
        $("#Emp").val("");
        var DepId = $("#Department option:selected").val();
        $.ajax({
            type: "Post",
            url: "/Request/GetUserByDepartment",
            data: { DepId: DepId },
            success: function (data) {
                var User = '';
                for (var i = 0; i < data.length; i++) {
                    User += '<option value="' + data[i].Value + '">' + data[i].Text + '</option>';
                }
                $("#Emp").html(User);
                if (data.length == 0)
                    $("#Emp").html('<option value="0">Select Employee </option>');
            }
        });
    }
</script>